<div class="content">
	<h1>Admin Sign Up</h1>
	<form class="signUpForm" [formGroup]="signUpForm">
    	<mat-form-field class="full-width">
			<mat-label>Name</mat-label>
			<input
				type="text"
				matInput
				formControlName="name"
				placeholder="Name"
			/>

			<mat-error
				*ngIf="

					!signUpForm.controls.name.hasError('required')
				"
			>
				Please enter Name
			</mat-error>
			<mat-error *ngIf="signUpForm.controls.name.hasError('required')">
				name is <strong>required</strong>
			</mat-error>
		</mat-form-field>

		<mat-form-field class="full-width">
			<mat-label>Email</mat-label>
			<input
				type="email"
				matInput
				formControlName="email"
				placeholder="Email: Username@example.com"
			/>

			<mat-error
				*ngIf="
					signUpForm.controls.email.hasError('email') &&
					!signUpForm.controls.email.hasError('required') &&
          !signUpForm.controls.email.hasError('pattern')
				"
			>
				Please enter a valid email address
			</mat-error>
			<mat-error *ngIf="signUpForm.controls.email.hasError('required')">
				Email is <strong>required</strong>
			</mat-error>
		</mat-form-field>

		<mat-form-field class="full-width">
			<mat-label>Password</mat-label>
			<input
				type="password"
				matInput
				formControlName="password"
				placeholder="password"
			/>

			<mat-error
				*ngIf="
					signUpForm.controls.password.hasError('min') &&
					!signUpForm.controls.password.hasError('required')
				"
			>
				Please enter a correct password
			</mat-error>
			<mat-error *ngIf="signUpForm.controls.password.hasError('required')">
				Password is <strong>required</strong>
			</mat-error>
		</mat-form-field>

    	<mat-form-field class="full-width">
			<mat-label>ConfirmPassword</mat-label>
			<input
				type="password"
				matInput
				formControlName="confirmPassword"
				placeholder="confirmPassword"
			/>
			<mat-hint>Provide details to login!</mat-hint>
			<mat-error
				*ngIf="

					!signUpForm.controls.confirmPassword.hasError('required')
				"
			>
				Please enter a correct password
			</mat-error>
			<mat-error *ngIf="signUpForm.controls.confirmPassword.hasError('required')">
				Password is <strong>required</strong>
			</mat-error>
		</mat-form-field>

    <button type="submit" mat-stroked-button class="btn">Sign Up</button>

	</form>
  <p>Or</p>

  <button  mat-stroked-button class="btn" (click) ="goTologin()">

  Login</button>
</div>
<router-outlet></router-outlet>



