<header>
	<h1>Products Page</h1>

	<div class="head">
		<button mat-raised-button color="warn" (click)="proView = true">
			View Products</button
		>
		<button
			mat-raised-button
			color="warn"
			class="hd-btn"
			(click)="proView = !proView"
			>Add Products</button
		>
	</div>
</header>
<mat-divider></mat-divider>
<Main>
	<ng-container *ngIf="proView; else elseTemplate">
		<div class="productView">
			<!-- <ul>
				<li *ngFor="let item of product; index as i">
					<img
						src="{{ item.Prouduct_image.data }}"
						alt=""
						width="50px"
						height="50px"
					/>
					<h3>{{ item.product_name }}</h3>
					<p>{{ item.product_description }}</p>
					<h5>{{ item.product_price }}</h5>
				</li>
			</ul> -->
			<mat-form-field>
				<mat-label>Filter</mat-label>
				<input
					matInput
					(keyup)="applyFilter($event)"
					placeholder="Ex. ium"
					#input
				/>
			</mat-form-field>

			<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
				<!-- Position Column -->
				<ng-container matColumnDef="position">
					<th mat-header-cell *matHeaderCellDef> No. </th>
					<td mat-cell *matCellDef="let element"> {{ element.position }} </td>
				</ng-container>

				<!-- Name Column --> 
				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef> Name </th>
					<td mat-cell *matCellDef="let element"> {{ element.name }} </td>
				</ng-container>

				<!-- Weight Column -->
				<ng-container matColumnDef="weight">
					<th mat-header-cell *matHeaderCellDef> Weight </th>
					<td mat-cell *matCellDef="let element"> {{ element.weight }} </td>
				</ng-container>

				<!-- Symbol Column -->
				<ng-container matColumnDef="symbol">
					<th mat-header-cell *matHeaderCellDef> Symbol </th>
					<td mat-cell *matCellDef="let element"> {{ element.symbol }} </td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

				<!-- Row shown when there is no matching data. -->
				<tr class="mat-row" *matNoDataRow>
					<td class="mat-cell" colspan="4"
						>No data matching the filter "{{ input.value }}"</td
					>
				</tr>
			</table>
		</div>
	</ng-container>
	<ng-template #elseTemplate>
		<form
			class="ProductForm"
			[formGroup]="productForm"
			(ngSubmit)="addProduct()"
		>
			<mat-form-field class="full-width">
				<mat-label>ProductName</mat-label>
				<input
					type="text"
					matInput
					formControlName="product_name"
					placeholder="Eg: Iphone"
				/>

				<mat-error
					*ngIf="
						productForm.controls.product_name.hasError('Name') &&
						!productForm.controls.product_name.hasError('required')
					"
				>
					Please enter a valid Name
				</mat-error>
				<mat-error
					*ngIf="productForm.controls.product_name.hasError('required')"
				>
					Name is <strong>required</strong>
				</mat-error>
			</mat-form-field>

			<mat-form-field class="full-width">
				<mat-label>Price</mat-label>
				<input
					type="number"
					matInput
					formControlName="product_price"
					placeholder="1000"
				/>
				<mat-error
					*ngIf="!productForm.controls.product_price.hasError('required')"
				>
					Please enter Price
				</mat-error>
				<mat-error
					*ngIf="productForm.controls.product_price.hasError('required')"
				>
					Price is <strong>required</strong>
				</mat-error>
			</mat-form-field>

			<mat-form-field class="full-width">
				<mat-label>Description</mat-label>
				<input
					type="text"
					matInput
					formControlName="product_description"
					placeholder="Eg: iphone 12 128gb"
				/>
				<mat-error
					*ngIf="!productForm.controls.product_description.hasError('required')"
				>
					Please a description
				</mat-error>
				<mat-error
					*ngIf="productForm.controls.product_description.hasError('required')"
				>
					Description is <strong>required</strong>
				</mat-error>
			</mat-form-field>

			<mat-form-field appearance="fill">
				<mat-label>Product Category</mat-label>
				<mat-select>
					<mat-option *ngFor="let cate of category" [value]="cate.value">
						{{ cate.viewValue }}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<label for="Product-image">Select Product picture:</label>
			<input
				type="file"
				id="Product-image"
				name="Product-image"
				formControlName="Product_image"
				(change)="uploadFile($event)"
				accept="image/png, image/jpeg"
			/>

			<button
				type="submit"
				mat-raised-button
				color="warn"
				class="btn"
				(ngSubmit)="addProduct()"
				>Add Product</button
			>
		</form>
	</ng-template>
</Main>
