<h1>Dashboard</h1>
  <mat-divider></mat-divider>
<div class="content">

<mat-card class="example-card">
  <mat-card-header>

    <mat-card-title>Orders</mat-card-title>
    <mat-card-subtitle>Daily Orders</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>

</mat-card>
<mat-card class="example-card">
  <mat-card-header>

    <mat-card-title>Products</mat-card-title>
    <mat-card-subtitle>Newly Added</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>

</mat-card>
<mat-card class="example-card">
  <mat-card-header>

    <mat-card-title>Errands</mat-card-title>
    <mat-card-subtitle>Daily Errands</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>

</mat-card>
<mat-card class="example-card">
  <mat-card-header>

    <mat-card-title>Reports</mat-card-title>
    <mat-card-subtitle>Reports</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
   <mat-list role="list">
  <mat-list-item role="listitem">Item 1</mat-list-item>
  <mat-list-item role="listitem">Item 2</mat-list-item>
  <mat-list-item role="listitem">Item 3</mat-list-item>
</mat-list>
  </mat-card-content>

</mat-card>
<mat-card class="example-card">
  <mat-card-header>

    <mat-card-title>Partners</mat-card-title>
    <mat-card-subtitle>Partners</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>

</mat-card>
</div>
