<mat-toolbar>
  <mat-toolbar-row>
 <span>
   <a routerLink="/dashboard" >
 <mat-icon>important_devices</mat-icon>
   Dashboard
  </a></span>
  </mat-toolbar-row>

  <mat-toolbar-row>

 <span>
   <mat-icon>dvr</mat-icon>
  Products</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
 <span>
   <mat-icon> directions_run</mat-icon>
   Errands</span>
  </mat-toolbar-row>

  <mat-toolbar-row>

 <span>
   <mat-icon> score</mat-icon>
  Orders</span>
  </mat-toolbar-row>

  <mat-toolbar-row>

 <span>
   <mat-icon>person</mat-icon>
  Customers</span>
  </mat-toolbar-row>

   <mat-toolbar-row>

 <span>  <mat-icon>group</mat-icon>Partners</span>
  </mat-toolbar-row>

   <mat-toolbar-row>

 <span>
  <mat-icon> bar_chart</mat-icon>
  Reports</span>
  </mat-toolbar-row>

</mat-toolbar>

