<mat-toolbar>
	<mat-toolbar-row>
		<span>
			<a routerLink="dashboad">
				<mat-icon>important_devices</mat-icon>
				Dashboard
			</a></span
		>
	</mat-toolbar-row>

	<mat-toolbar-row>
		<span>
			<a routerLink="products">
				<mat-icon>dvr</mat-icon>
				Products</a
			></span
		>
	</mat-toolbar-row>

	<mat-toolbar-row>
		<span>
			<a routerLink="errands">
				<mat-icon> directions_run</mat-icon>
				Errands</a
			></span
		>
	</mat-toolbar-row>

	<mat-toolbar-row>
		<span>
			<a routerLink="order">
				<mat-icon> score</mat-icon>
				Orders</a
			></span
		>
	</mat-toolbar-row>

	<mat-toolbar-row>
		<span>
			<a routerLink="customers">
				<mat-icon>person</mat-icon>
				Customers
			</a></span
		>
	</mat-toolbar-row>

	<mat-toolbar-row>
		<span>
			<a routerLink="partners"> <mat-icon>group</mat-icon>Partners </a></span
		>
	</mat-toolbar-row>

	<mat-toolbar-row>
		<span>
			<a routerLink="reports">
				<mat-icon> bar_chart</mat-icon>
				Reports
			</a></span
		>
	</mat-toolbar-row>
</mat-toolbar>
